(global) {
  admin off

  # servers {
  #   metrics
  # }

  crowdsec {
    api_url http://crowdsec:8080
    api_key `{$CROWDSEC_BOUNCER_API_KEY}`
    ticker_interval 15s
    # disable_streaming
    # enable_hard_fails
  }
}


(servers) {

  :2019 {
    @metrics {
      remote_ip private_ranges
      path /metrics
    }

    handle @metrics {
      metrics
    }
    handle {
      abort
    }
  }

  *.*.* {
    @www {
      expression {labels.2} == "www"
    }
    handle @www {
      redir https://{labels.1}.{labels.0}{uri}
    }
    handle {
      abort
    }
  }

  {args[0]} {
    log {
      output file /var/log/caddy/access.log
    }

    route {
      crowdsec
      file_server
    }
  }

  `{$GRAFANA_SUBDOMAIN}.{args[0]}` {
    reverse_proxy http://grafana:3000
  }
}



(development) {
  {
    import global
    debug
  }

  import servers localhost

  www.localhost {
    redir https://localhost{uri}
  }
}

(production) {
  {
    import global

    email `{$EMAIL}`

    servers `{$DOMAIN}:443` {
      name public
    }
  }

  *.*.*.* {
    @www {
      expression {labels.3} == "www"
    }
    handle @www {
      redir https://{labels.2}.{labels.1}.{labels.0}{uri}
    }
    handle {
      abort
    }
  }

  import servers `{$DOMAIN}`

  *.localhost {
    redir `https://{label1}.{$DOMAIN}{uri}`
  }
}

{$CADDY_EXTRA_DIRECTIVES}
