(global) {

  admin unix//run/caddy.sock

  servers {
    trusted_proxies dns authelia
    # metrics
  }

  crowdsec {
    api_url http://crowdsec:8080
    api_key `{$CROWDSEC_BOUNCER_KEY}`
    ticker_interval 15s
    # disable_streaming
    # enable_hard_fails
  }

  order crowdsec before respond
}

(authelia_forward) {
  forward_auth authelia:9091 {
    uri `/api/verify?rd=https://{$SUBDOMAIN_AUTHELIA}.{args[0]}{$REDIRECTION_AUTHORITY_SUFFIX}/`
    copy_headers Authorization Proxy-Authorization Remote-User Remote-Groups Remote-Email Remote-Name
  }
}
(public_server) {
  log {
    output file `/var/log/caddy/{args[0]}public_access.log`
  }

  crowdsec
  file_server
}

(grafana_server) {
  log {
    output file `/var/log/caddy/{args[0]}grafana_access.log`
  }
  reverse_proxy grafana:3000
}

(authelia_server) {
  log {
    output file `/var/log/caddy/{args[0]}authelia_access.log`
  }
  crowdsec
  reverse_proxy authelia:9091
}

(lldap_server) {
  log {
    output file `/var/log/caddy/{args[0]}lldap_access.log`
  }
  crowdsec
  reverse_proxy lldap:17170
}

(servers) {

  :2019 {
    @metrics {
      remote_ip 10.89.0.0/24
      path /metrics
    }

    handle @metrics {
      basicauth {
        prometheus `{$METRICS_PASSWORD_HASH}`
      }
      metrics
    }
    handle {
      abort
    }
  }

  `www.{$DOMAIN}` {
    redir `https://{$DOMAIN}{$REDIRECTION_AUTHORITY_SUFFIX}{uri}` permanent
  }


  `{$DOMAIN}` {
    import public_server
  }

  `{$SUBDOMAIN_GRAFANA}.{$DOMAIN}` {
    # import authelia_forward `{$DOMAIN}`
    import grafana_server
  }

  `{$SUBDOMAIN_AUTHELIA}.{$DOMAIN}` {
    import authelia_server
  }

  `{$SUBDOMAIN_LLDAP}.{$DOMAIN}` {
    import lldap_server
  }
}



(development) {
  {
    import global
    debug

    local_certs
  }

  import servers

  *.*.*.* {
    @www expression {labels.3} == "www" && {labels.1} + "." + {labels.0} == "{$DOMAIN}"
    handle @www {
      redir `https://{labels.2}.{$DOMAIN}{uri}` permanent
    }
    handle {
      abort
    }
  }

  localhost {
    redir `https://{$DOMAIN}{$REDIRECTION_AUTHORITY_SUFFIX}{uri}`
  }

  *.localhost {
    redir `https://{labels.1}.{$DOMAIN}{$REDIRECTION_AUTHORITY_SUFFIX}{uri}`
  }
}

(production) {
  {
    import global

    email `{$EMAIL}`
  }

  import servers
}

import `{$MODE}`
